<app-nav-bar ></app-nav-bar>

<div class="bg-gray pt-160 overflow-hidden">

  <div class="container">

    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">

        <div class="multiple-devices synchronized-sliders parallax-zoom-out">

          <div class="macbook-mockup single-device">

            <img class="img-responsive img-center" src="assets/images/macbook-single.png" alt=""/>

            <div class="macbook-mockup-content flexslider controls-visible no-bullet-nav effect-slide" data-speed="2500">
              <ul class="slides">
                <li>
                  <img src="assets/images/data-viz-1.png" />
                </li>
                <li>
                  <img src="assets/images/data-viz-2.png" />
                </li>
                <li>
                  <img src="assets/images/data-viz-3.png" />
                </li>
                <li>
                  <img src="assets/images/data-viz-4.png" />
                </li>
              </ul>
            </div>
          </div>


        </div>


      </div>

    </div>

  </div>

</div>

<div class="bg-light pt-80">

  <div class="container">

    <div class="row">

      <div>  <!-- class="col-sm-8 col-sm-offset-2" -->

        <h2 class="text-uppercase text-center mb-10"><span class="text-color">Data Visualization</span>: Apply Storytelling to Data</h2>
          <h3 class="text-gray text-center mb-60">Uncover insights from data visualization</h3>

      </div>
    </div>
  </div> <!-- end container -->
</div>






<footer>

  <div class="main-footer bg-dark pt-80 pb-40">

    <div class="container text-center">

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 mb-80">

          <div class="icon-box icon-box-round icon-top">

            <span class="icon-inline icon-circle icon-solid-color"><i class="fa fa-envelope"></i></span>

            <div class="icon-box-content bg-dark">

              <h3 class="mb-40 text-uppercase text-bold">Quick Contact</h3>


              <form id="contact" class="contact-form" action="assets/php/contact.php" method="post" novalidate>

                <div class="row gap-sm">

                  <div class="col-sm-6 mb-10">

                    <input class="form-control input-rect requiredField" placeholder="Name" type="text" name="name">

                  </div>

                  <div class="col-sm-6 mb-10">

                    <input class="form-control input-rect requiredField" placeholder="Email" type="email" name="email">

                  </div>
                </div>

                <textarea class="mb-20 form-control input-rect requiredField" rows="3" placeholder="Your Message" name="message"></textarea>

                <button type="submit" class="btn btn-block btn-rect btn-3d">Send Message</button>
                <input type="hidden" name="submitted" id="submitted" value="true" />

                <p class="form-error empty-fields"><i class="fa fa-exclamation-triangle"></i>Please fill the required fields</p>
                <p class="form-error email-error"><i class="fa fa-exclamation-triangle"></i>Email looks invalid</p>
                <p class="form-success"><i class="fa fa-check"></i>Your message has been sent</p>


              </form>

            </div>

          </div>

        </div>

      </div>

      <ul class="list-inline list-unstyled list-gap-lg text-center mb-0">
        <li><a href="https://twitter.com/surong3d" target="_blank" class="text-hover-color"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
        <li><a href="https://dribbble.com/Surong" target="_blank" class="text-hover-color"><i class="fa fa-dribbble fa-2x fa-fw"></i></a></li>
        <!-- <li><a href="http://q-themes.net/" target="_blank" class="text-hover-color"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li> -->
        <!-- <li><a href="https://twitter.com/qthemes" target="_blank" class="text-hover-color"><i class="fa fa-pinterest fa-2x fa-fw"></i></a></li> -->
        <!-- <li><a href="http://q-themes.net/" target="_blank" class="text-hover-color"><i class="fa fa-tumblr fa-2x fa-fw"></i></a></li>
                    <li><a href="https://twitter.com/qthemes" target="_blank" class="text-hover-color"><i class="fa fa-skype fa-2x fa-fw"></i></a></li>
                    <li><a href="http://q-themes.net/" target="_blank" class="text-hover-color"><i class="fa fa-google-plus fa-2x fa-fw"></i></a></li>
                    <li><a href="https://twitter.com/qthemes" target="_blank" class="text-hover-color"><i class="fa fa-youtube fa-2x fa-fw"></i></a></li>
                    <li><a href="http://q-themes.net/" target="_blank" class="text-hover-color"><i class="fa fa-vimeo fa-2x fa-fw"></i></a></li> -->
      </ul>

    </div>

  </div>

  <div class="bg-dark">

    <div class="container text-gray text-center">

      <p class="mb-20 mt-20">&copy; 2019 Curated by Surong | Support by <a href="http://q-themes.net/" class="text-hover-color" target="_blank">Qthemes</a></p>

    </div>

  </div>

</footer>
