<app-nav-bar ></app-nav-bar>

<div id="work" class="bg-light pt-160 mb-160">



  <div class="container">
    <div class="row">
      <div class="scrolling-animation fade-up mb-80">
        <h2 class="text-lg text-center">Crafted <span class="text-color">Graphics</span></h2>

        <hr class="hr-gray hr-center hr-md hr-bold mb-20">
        <h3 class="text-dark col-md-6 col-md-offset-3">Without art design background, I'm alawys exploring how to improve my crafting skills,
          and learn different design medium to tell the story.</h3>


      </div>
    </div>

    <!-- <div class="filter-buttons text-center mt-60 mb-40" data-target="#grid-2">

                <ul class="list-unstyled list-inline">
                    <li class="active filter-button scrolling-animation fade-right d3" data-filter="*">All Designs</li>
                    <li class="filter-button scrolling-animation fade-right d2" data-filter=".cat-1">Logos</li>
                    <li class="filter-button scrolling-animation fade-right d1" data-filter=".cat-2">3D</li>
                    <li class="filter-button scrolling-animation fade-right" data-filter=".cat-3">Watercolor</li>
                </ul>

            </div> -->

    <isotope-grid [options]="option" class="grid grid-gap-sm grid-3-cols fade-in">
      <isotope-item class="grid-item" *ngFor="let work of works">
        <figure class="hover-mask-parent img-hover-zoom">

          <img class="img-responsive" [src]="work.image" alt="" />

        </figure>

      </isotope-item>
    </isotope-grid>

</div>


<footer>

  <div class="main-footer bg-dark pt-80 pb-40">

    <div class="container text-center">

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 mb-80">

          <div class="icon-box icon-box-round icon-top">

            <span class="icon-inline icon-circle icon-solid-color"><i class="fa fa-envelope"></i></span>

            <div class="icon-box-content bg-dark">

              <h3 class="mb-40 text-uppercase text-bold">Quick Contact</h3>


              <form id="contact" class="contact-form" action="assets/php/contact.php" method="post" novalidate>

                <div class="row gap-sm">

                  <div class="col-sm-6 mb-10">

                    <input class="form-control input-rect requiredField" placeholder="Name" type="text" name="name">

                  </div>

                  <div class="col-sm-6 mb-10">

                    <input class="form-control input-rect requiredField" placeholder="Email" type="email" name="email">

                  </div>
                </div>

                <textarea class="mb-20 form-control input-rect requiredField" rows="3" placeholder="Your Message" name="message"></textarea>

                <button type="submit" class="btn btn-block btn-rect btn-3d">Send Message</button>
                <input type="hidden" name="submitted" id="submitted" value="true" />

                <p class="form-error empty-fields"><i class="fa fa-exclamation-triangle"></i>Please fill the required fields</p>
                <p class="form-error email-error"><i class="fa fa-exclamation-triangle"></i>Email looks invalid</p>
                <p class="form-success"><i class="fa fa-check"></i>Your message has been sent</p>


              </form>

            </div>

          </div>

        </div>

      </div>

      <ul class="list-inline list-unstyled list-gap-lg text-center mb-0">
        <li><a href="https://twitter.com/surong3d" target="_blank" class="text-hover-color"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
        <li><a href="https://dribbble.com/Surong" target="_blank" class="text-hover-color"><i class="fa fa-dribbble fa-2x fa-fw"></i></a></li>
        <!-- <li><a href="http://q-themes.net/" target="_blank" class="text-hover-color"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li> -->
        <!-- <li><a href="https://twitter.com/qthemes" target="_blank" class="text-hover-color"><i class="fa fa-pinterest fa-2x fa-fw"></i></a></li> -->
        <!-- <li><a href="http://q-themes.net/" target="_blank" class="text-hover-color"><i class="fa fa-tumblr fa-2x fa-fw"></i></a></li>
                    <li><a href="https://twitter.com/qthemes" target="_blank" class="text-hover-color"><i class="fa fa-skype fa-2x fa-fw"></i></a></li>
                    <li><a href="http://q-themes.net/" target="_blank" class="text-hover-color"><i class="fa fa-google-plus fa-2x fa-fw"></i></a></li>
                    <li><a href="https://twitter.com/qthemes" target="_blank" class="text-hover-color"><i class="fa fa-youtube fa-2x fa-fw"></i></a></li>
                    <li><a href="http://q-themes.net/" target="_blank" class="text-hover-color"><i class="fa fa-vimeo fa-2x fa-fw"></i></a></li> -->
      </ul>

    </div>

  </div>

  <div class="bg-dark">

    <div class="container text-gray text-center">

      <p class="mb-20 mt-20">&copy; 2019 Curated by Surong | Support by <a href="http://q-themes.net/" class="text-hover-color" target="_blank">Qthemes</a></p>

    </div>

  </div>

</footer>
