<!-- ==============================================
    DESIGN PROCESS
    =============================================== -->
<div id="process" class="bg-image pt-120 pb-120 fixed-bg" style="background-image:url(assets/images/header-dark.jpg);">

  <div class="container">

    <div class="scrolling-animation fade-up">
      <h2 class="text-center text-lg">Design Process</h2>
      <hr class="hr-color hr-sm hr-center mt-20 mb-20">
      <h4 class="text-center">	</h4>

      <img class="img-responsive" src="assets/images/design-process.png" alt="" />
    </div>

  </div>

</div>
