<!-- ==============================================
    PORTFOLIO WORK
    =============================================== -->

<div id="work" class="bg-light pt-120">

  <div class="container">
    <div class="scrolling-animation fade-up">
      <h2 class="text-lg text-center">Crafted <span class="text-color">Design Works</span></h2>
      <hr class="hr-gray hr-center hr-sm hr-bold mb-20">
      <p class="text-dark text-center mb-60 text-bold">During my six years working as a designer, I'm adaptive to wear multiple hats to make the team successful.
        I lead designing complex systems from initial research and design concepts, to final mockups and prototype coding. Products I have shipped cover
        retailing, architecture and film industries. I love working on innovative ideas, pushing the boundary to redefine UX vision and bring it into reality.</p>
    </div>

    <div class="filter-buttons text-center mt-60 mb-40" data-target="#grid-1">

      <ul class="list-unstyled list-inline">
        <li class="active filter-button scrolling-animation fade-right d4" data-filter="*">All Projects</li>
        <li class="filter-button scrolling-animation fade-right d3" data-filter=".cat-1">Design System</li>
        <li class="filter-button scrolling-animation fade-right d2" data-filter=".cat-2">Experience Map</li>
        <li class="filter-button scrolling-animation fade-right d1" data-filter=".cat-3">3D</li>
        <li class="filter-button scrolling-animation fade-right" data-filter=".cat-4">Graphics</li>
      </ul>

    </div>

    <div id="grid-1" class="grid grid-gap-sm grid-3-cols fade-in">
      <!-- ==============================================
                PRJ 1 - PORTFOLIO WORK
                =============================================== -->
      <div class="grid-item cat-1 cat-4">

        <a href="project-synchronized-all.html">

          <figure class="hover-mask-parent img-hover-zoom">

            <img class="img-responsive" src="assets/images/w1-q-pf.png" alt="" />

            <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

              <div class="hover-mask-content text-center">

                <h3 class="mb-10 text-bold">PathFinder</h3>
                <p class="">#design-system #web</p>

              </div>

            </figcaption>

          </figure>

        </a>

      </div>
      <!-- ==============================================
                PRJ 2 - PORTFOLIO WORK
                =============================================== -->
      <div class="grid-item cat-2">

        <a href="project-all-devices-sliders.html">

          <figure class="hover-mask-parent img-hover-zoom">

            <img class="img-responsive" src="assets/images/w2-q-mobile.png" alt="" />

            <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

              <div class="hover-mask-content text-center">

                <h3 class="mb-10 text-bold">Mobile + Nudge</h3>
                <p class="">#journey #mobile</p>

              </div>

            </figcaption>

          </figure>

        </a>

      </div>

      <!-- ==============================================
                PRJ 3 - PORTFOLIO WORK
                =============================================== -->
      <div class="grid-item cat-1 cat-3">

        <a href="project-all-devices-scrolling.html">

          <figure class="hover-mask-parent img-hover-zoom">

            <img class="img-responsive" src="assets/images/w3-jaunt-cover.png" alt="" />

            <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

              <div class="hover-mask-content text-center">

                <h3 class="mb-10 text-bold">Video Production Pipeline</h3>
                <p class="">#3d #design-system #web</p>

              </div>

            </figcaption>

          </figure>

        </a>

      </div>

      <!-- ==============================================
                PRJ 4 - PORTFOLIO WORK
                =============================================== -->
      <div class="grid-item cat-2">

        <a href="project-synchronized-macbook-iphone.html">

          <figure class="hover-mask-parent img-hover-zoom">

            <img class="img-responsive" src="assets/images/w4-jaunt-app.png" alt="" />

            <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

              <div class="hover-mask-content text-center">

                <h3 class="mb-10 text-bold">Camera Media Manager</h3>
                <p class="">#journey #desktop</p>

              </div>

            </figcaption>

          </figure>

        </a>

      </div>

      <!-- ==============================================
                PRJ 5 - PORTFOLIO WORK
                =============================================== -->
      <div class="grid-item cat-2">

        <a href="project-macbook-iphone-sliders.html">

          <figure class="hover-mask-parent img-hover-zoom">

            <img class="img-responsive" src="assets/images/w5-adsk.png" alt="" />

            <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

              <div class="hover-mask-content text-center">

                <h3 class="mb-10 text-bold">First Experience</h3>
                <p class="">#journey #desktop</p>

              </div>

            </figcaption>

          </figure>

        </a>

      </div>

      <!-- ==============================================
                PRJ 6 - PORTFOLIO WORK
                =============================================== -->

      <div class="grid-item cat-4">

        <a href="project-all-devices-scrolling.html">

          <figure class="hover-mask-parent img-hover-zoom">

            <img class="img-responsive" src="assets/images/w6-web.png" alt="" />

            <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

              <div class="hover-mask-content text-center">

                <h3 class="mb-10 text-bold">Website Designs</h3>
                <p class="">#graphics #web</p>

              </div>

            </figcaption>

          </figure>

        </a>

      </div>

      <!-- ==============================================
                PRJ 7 - PORTFOLIO WORK
                =============================================== -->


      <div class="grid-item cat-1 cat-3 cat-2">

        <a href="project-all-devices-sliders.html">

          <figure class="hover-mask-parent img-hover-zoom">

            <img class="img-responsive" src="assets/images/w7-smx.png" alt="" />

            <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

              <div class="hover-mask-content text-center">

                <h3 class="mb-10 text-bold">ShopperMX</h3>
                <p class="">#design-system #3d #web</p>

              </div>

            </figcaption>

          </figure>

        </a>

      </div>

      <!-- ==============================================
                PRJ 8 - PORTFOLIO WORK
                =============================================== -->

      <div class="grid-item cat-4 cat-2">

        <a href="project-synchronized-all.html">

          <figure class="hover-mask-parent img-hover-zoom">

            <img class="img-responsive" src="assets/images/w8-dqs.png" alt="" />

            <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

              <div class="hover-mask-content text-center">

                <h3 class="mb-10 text-bold">Data Visualizations</h3>
                <p class="">#data-viz #graphics</p>

              </div>

            </figcaption>

          </figure>

        </a>

      </div>

      <!-- ==============================================
                PRJ 9 - PORTFOLIO WORK
                =============================================== -->

      <div class="grid-item cat-3 cat-4">

        <a href="project-desktop-scrolling.html">

          <figure class="hover-mask-parent img-hover-zoom">

            <img class="img-responsive" src="assets/images/w9-wc.png" alt="" />

            <figcaption class="hover-mask hover-mask-color hover-mask-zoom-out">

              <div class="hover-mask-content text-center">

                <h3 class="mb-10 text-bold">Graphic Design</h3>
                <p class="">#3d #graphics</p>

              </div>

            </figcaption>

          </figure>

        </a>

      </div>
      <!-- ==============================================
                End project 9
                =============================================== -->
    </div>

  </div>

</div>
