<!-- ==============================================
    HEADER

    Background image attribute: Photo by Alex Knight from Unsplash (https://unsplash.com/photos/j4uuKnN43_M)
    =============================================== -->
<header id="home" class="bg-image fixed-bg window-height overlay-on-scroll parallax-bg" data-stellar-background-ratio=".5" style="background-image:url(assets/images/header-bg.jpg);">

  <div class="middle-align-content">
    <div class="container text-center text-lg parallax-move-down">
      <!--
                          <h2 class="text-lg scrolling-animation fade-down d2">Take your</h2>
                          <h1 class="text-bold text-lg scrolling-animation scale-in">Responsive Portfolio</h1>
                          <p class="text-lg scrolling-animation fade-up d2">to the Next Level</p> -->

    </div>
  </div>

</header>

<div class="bg-light pt-80 pb-80">

  <div class="container">

    <div class="row">

      <div id="waypoints" class="col-sm-10 col-sm-offset-1 text-center scrolling-animation fade-up">

        <p class="text-lg-2x">
          <sup><i class="fa fa-quote-left fa-fw text-color"></i></sup>
          <em class="text-gray"> Good design makes a product useful, understandable and as little design as possible.</em>
          <sup><i class="fa fa-quote-right fa-fw text-color"></i></sup>
        </p>

        <p class="text-2x"><em>from Dieter Rams' Ten Principles for Good Design</em></p>

      </div>

    </div>

  </div>

</div>
