<!-- ==============================================
    RESUME COLLAPSE
    =============================================== -->
<div class="collapse scroll-on-show" id="resume">

  <div class="bg-gray pt-120 pb-80">

    <div class="container">

      <div class="row mt-40">

        <div class="col-lg-8 col-lg-offset-2">

          <h2 class="text-uppercase text-bold text-center mb-40 text-lg">Work <span class="text-color">Experience</span></h2>

          <div class="mb-60 text-center">
            <a class="btn btn-lg btn-3d" href="../../../assets/ResumeSR.pdf" target="_blank"><i class="fa fa-download"></i> Download Resume </a>
          </div>
          <div class="row">

            <div class="col-xs-6 col-sm-4 col-md-3">

              <div class="content-box content-box-sm bg-color">

                <p class="mb-0 text-center">2018 - Now</p>

              </div>

            </div>

            <div class="col-xs-12 col-sm-8 col-md-9">

              <h3 class="mt-10 mb-0"><span class="text-uppercase">Sr Product Designer</span> - <a href="#link"><em class="text-gray text-hover-color ">Qventus</em></a></h3>

            </div>

          </div>

          <hr class="hr-color mt-0 mb-40">

          <div class="row mb-60">

            <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">

              <p> Designed the patient board for care coordination which became sales-enabler for Qventus customers;
                Lead mobile communication app and nudge design to to enable  behavior change, which relates to improved operational data;
                Collaborated with designers on design system and shipped mobile redesign.</p>

            </div>

          </div>

          <div class="row">

            <div class="col-xs-6 col-sm-4 col-md-3">

              <div class="content-box content-box-sm bg-color">

                <p class="mb-0 text-center">2016 - 2018</p>

              </div>

            </div>

            <div class="col-xs-12 col-sm-8 col-md-9">

              <h3 class="mt-10 mb-0"><span class="text-uppercase">Product Designer</span> - <a href="#link"><em class="text-gray text-hover-color ">Jaunt</em></a></h3>

            </div>

          </div>

          <hr class="hr-color mt-0 mb-40">

          <div class="row mb-60">

            <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">

              <p>
                Designed video production pipeline for VR content creators with improved usability and simplified UI; Prototyped VR player for preview and review in headsets and co-designed the viewer app for variation VR platforms; Lead design of publishing and analytics services for VR creators.
              </p>

            </div>

          </div>

          <div class="row">

            <div class="col-xs-6 col-sm-4 col-md-3">

              <div class="content-box content-box-sm bg-color">

                <p class="mb-0 text-center">2014 - 2016</p>

              </div>

            </div>

            <div class="col-xs-12 col-sm-8 col-md-9">

              <h3 class="mt-10 mb-0"><span class="text-uppercase">UX Designer</span> - <a href="#link"><em class="text-gray text-hover-color ">Autodesk</em></a></h3>

            </div>

          </div>

          <hr class="hr-color mt-0 mb-40">

          <div class="row mb-40">

            <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">

              <p>Lead design and prototyping of large-scale 3D web application, including navigation framework with in-canvas user interface; Built library of contextual help patterns and installation flow to deliver improved first experience; Manage UI framework projects and shipped a widely used UI kit</p>
            </div>

          </div>


          <div class="row">

            <div class="col-xs-6 col-sm-4 col-md-3">

              <div class="content-box content-box-sm bg-color">

                <p class="mb-0 text-center">2013 - 2014</p>

              </div>

            </div>

            <div class="col-xs-12 col-sm-8 col-md-9">

              <h3 class="mt-10 mb-0"><span class="text-uppercase">UX/UI Designer</span> - <a href="#link"><em class="text-gray text-hover-color ">InContext Solutions</em></a></h3>

            </div>

          </div>

          <hr class="hr-color mt-0 mb-40">

          <div class="row mb-40">

            <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">

              <p>Lead design of a web app for virtual store simulation (ShopperMX); Built prototype of 3D space navigation controls to allow users to interact with low friction; Created research modules and data viz tool with D3.js to support marketing insight team work.</p>
            </div>

          </div>

        </div>

      </div>
      <div class="row">

        <div class="col-lg-8 col-lg-offset-2">

          <h2 class="text-uppercase text-bold text-center mb-40 text-lg">My <span class="text-color">Education</span></h2>

          <div class="row">

            <div class="col-xs-6 col-sm-4 col-md-3">

              <div class="content-box content-box-sm bg-color">

                <p class="mb-0 text-center">2011 - 2012</p>

              </div>

            </div>

            <div class="col-xs-12 col-sm-8 col-md-9">

              <h3 class="mt-10 mb-0"><span class="text-uppercase">Masters of Science</span> - <em class="text-gray">University of Michigan - Ann Arbor</em></h3>

            </div>

          </div>

          <hr class="hr-color mt-0 mb-40">

          <div class="row mb-60">

            <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">

              <p>Majored in Human-Competer Interaction</p>

            </div>

          </div>

          <div class="row">

            <div class="col-xs-6 col-sm-4 col-md-3">

              <div class="content-box content-box-sm bg-color">

                <p class="mb-0 text-center">2007 - 2011</p>

              </div>

            </div>

            <div class="col-xs-12 col-sm-8 col-md-9">

              <h3 class="mt-10 mb-0"><span class="text-uppercase">Bachelor Degree</span> - <em class="text-gray">Tsinghua University</em></h3>

            </div>

          </div>

          <hr class="hr-color mt-0 mb-40">

          <div class="row mb-60">

            <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">

              <p>Majored in Automation</p>

            </div>

          </div>

        </div>

      </div>



    </div>

  </div>

</div>
