<!-- ==============================================
    CASE STUDY
    =============================================== -->
<div id="casestudy" class="bg-light pt-120 pb-120">

  <div class="container">

    <div class="scrolling-animation fade-up">
      <h2 class="text-lg text-center">See what I am up to <span class="text-color">designing recently</span></h2>
      <hr class="hr-gray hr-center hr-sm hr-bold mb-20"/>
      <!-- <p class="text-gray text-center"></p> -->
    </div>

    <div class="row mt-160">

      <div class="col-lg-5 text-center mt-40 mb-40 scrolling-animation fade-left">

        <h3 class="text-lg text-bold mb-10">Nudges to help turn data into actions</h3>
        <!-- <h3 class="text-gray mb-40 text-color text-bold">Why</h3> -->

        <p class="text-lg">
          <!-- <sup><i class="fa fa-quote-left fa-fw text-gray"></i></sup> -->
          Keep the team aware of context and also prepare for upcoming problems, deliver the nudge and support different roles collaborate in a single thread,
          enable continuous data driven decisions at scale

          <!-- <sup><i class="fa fa-quote-right fa-fw text-gray"></i></sup> -->
        </p>

        <!-- <p class="text-gray text-right"><em>- Jeffrey Veen</em></p> -->

      </div>

      <div class="col-lg-7 scrolling-animation fade-left d1">

        <div class="multiple-devices synchronized-sliders">

          <div class="macbook-mockup single-device">

            <img class="img-responsive img-center" src="../../../assets/images/macbook-single.png" alt=""/>

            <div class="macbook-mockup-content flexslider no-direction-nav no-bullet-nav effect-zoom" data-speed="2500">
              <ul class="slides">
                <li>
                  <img src="../../../assets/images/cover-pf-nudge.png" alt="" />
                </li>
                <!-- <li>
                                    <img src="assets/images/macbook-screen-2.jpg" alt="" />
                                  </li>
                                  <li>
                                    <img src="assets/images/macbook-screen-3.jpg" alt="" />
                                  </li> -->
              </ul>
            </div>
            <!-- <a href="#desktop-modal" data-toggle="modal"><span style="top:-5%;left:10%;" class="poi">Click Me</span></a> -->
          </div>


          <div class="iphone-mockup single-device">

            <img class="img-responsive img-center" src="../../../assets/images/iphone-single.png" alt=""/>

            <div class="iphone-mockup-content flexslider pause no-direction-nav no-bullet-nav effect-slide" data-speed="2500">
              <ul class="slides">
                <li>
                  <img src="../../../assets/images/cover-mobile-nudge.png" alt="" />
                </li>
                <!-- <li>
                                    <img src="assets/images/iphone-screen-2.jpg" alt="" />
                                  </li>
                                  <li>
                                    <img src="assets/images/iphone-screen-3.jpg" alt="" />
                                  </li> -->
              </ul>
            </div>
            <a href="#mobile-modal" data-toggle="modal"><span style="top:-8%;right:-15%;" class="poi delay-animation">Click Me</span></a>
          </div>


        </div>

      </div>

    </div>

    <hr class="mt-80 mb-80"/>

    <div class="pb-80 hidden-xs"></div>

    <div class="row">

      <div class="col-lg-5 col-lg-offset-1 col-lg-push-6 text-center mt-100 mb-40  scrolling-animation fade-right">

        <h3 class="text-lg text-bold mb-10">Patient Board to Facilitate Discharge Planning</h3>
        <!-- <h3 class="text-gray mb-40 text-color text-bold">What</h3> -->

        <p class="text-lg">
          <!-- <sup><i class="fa fa-quote-left fa-fw text-gray"></i></sup> -->
          PathFinder by Qventus is a key offering to customers to streamline patient flow to reduce length of stay and improve flow efficiency.
          My role is to redesign the UX/UI to provide a delightful experience for care team.
          <!-- <sup><i class="fa fa-quote-right fa-fw text-gray"></i></sup> -->
        </p>

        <!-- <p class="text-gray text-right"><em>- Rahul Varshney</em></p> -->

      </div>

      <div class="col-lg-6 col-lg-pull-6 scrolling-animation fade-right d1">


        <div class="imac-mockup single-device">

          <img class="img-responsive" src="assets/images/imac-single.png" alt=""/>

          <div class="imac-mockup-content">

            <div class="twentytwenty-container">
              <!-- The before image is first -->
              <img class="img-responsive" src="assets/images/pf-before.png" alt="" />
              <!-- The after image is last -->
              <img class="img-responsive" src="assets/images/pf-after.png" alt="" />
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- ==============================================
    MODALS
    =============================================== -->
<div id="desktop-modal" class="modal fade">

  <span class="close-modal" data-dismiss="modal">&times;</span>

  <div class="modal-dialog">

    <div class="modal-content text-center">

      <h2 class="mb-10">Nudge Triggering Prototype</h2>
      <!-- <h4 class="mb-40">Full Experience</h4> -->
      <p></p>

      <!-- <a href="#work" class="btn mt-40 btn-border btn-i-right scrollto" data-dismiss="modal">View Porftolio<i class="fa fa-arrow-down fa-lg"></i></a> -->

    </div>

  </div>

</div>

<div id="mobile-modal" class="modal fade">

  <span class="close-modal" data-dismiss="modal">&times;</span>

  <div class="modal-dialog">

    <div class="modal-content text-center">

      <h2 class="mb-10">Mobile App Prototype</h2>
      <!-- <h4 class="mb-40">In your hands</h4> -->
      <p></p>

      <a href="#work" class="btn mt-40 btn-border btn-i-right scrollto" data-dismiss="modal">View Porftolio<i class="fa fa-arrow-down fa-lg"></i></a>

    </div>

  </div>

</div>
